/*=====RESETS AND PRESETS======*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #e5e7eb;
    --secondary-color: #1f2937;
    --tertiary-color: #3882f6;
    --primary-font-color: #2a2b2c;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 300px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}


/*=====HEADER======*/

header {
    background-image: url(./images/Photo_of_Five_Cars_Parked.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: var(--primary-color);
}

header::before {
    content:"";
    position: absolute;
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.logo {
    width: 170px;
    top: 0;
    position: relative;
}


.logo-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.nav-bar {
    margin-top: -2rem;
    font-size: 1.8rem;
    text-align: center;
    list-style: none;
    font-weight: 700;
}

.nav-bar li {
    margin: 1.2rem 0;
    padding: 0.2rem 0;
}


li .nav-link {
    color: var(--primary-font-color-color);
    text-decoration: none;
    padding: 0.5rem;
}

.header-content {
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
}

.title-subtext {
    order: 2;
    text-align: center;
    color: bisque;
    width: 80%;
}

.main-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    
}

.main-description {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.main-photo {
    margin-bottom: 2rem;
}

img:not(logo) {
    width: 450px;
    max-width: 80%;
    border-radius: 0.5rem;
}

.signup {
    background-color: var(--tertiary-color);
    width: 120px;
    height: 35px;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 2rem;
}

/*=====MAIN=====*/

/*=====GALLERY======*/

.gallery {
    text-align: center;
}

.gallery-title {
    font-size: 3.5rem;
    padding: 2rem 0;
}

.gallery-images {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.8rem;
}

.gallery-item {
    box-shadow: 0 5px 10px #777;
}

.item-description {
    width: 400px;
    max-width: 80%;
    margin: 0 auto;
}

/*======TEXT======*/

.text {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 2rem 0;
}

.quote {
    width: 500px;
    max-width: 80%;;
    font-size: 2.5rem;
    text-align: justify;
}

.quote-content {
    font-weight: 200;
    font-style: italic;
    opacity: 0.8;
}

.author {
    text-align: right;
    margin: 0.5rem 0;
}

/*=====ACTION-CALL SECTION======*/

.action-call {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-content-wrapper {
    background-color: var(--tertiary-color);
    color: #fff;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 700px;
    max-width: 90%;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    gap: 2.5rem;
}

.action-title {
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

.signup.bottom {
    border: 0.2rem solid #fff;
    padding: 0.2rem 0;
}

/*======FOOTER======*/

footer {
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    padding: 3rem 0;
}


