/*=====RESETS AND PRESETS======*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #e5e7eb;
    --secondary-color: #1f2937;
    --tertiary-color: #3882f6;
    --primary-font-color: #2a2b2c;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 300px;
}

body {
    max-width: 1200px;
}


/*=====HEADER======*/

header {
    margin-bottom: 10rem;
    background-image: url(./images/Photo_of_Five_Cars_Parked.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: var(--primary-color);
}

header::before {
    content:"";
    position: absolute;
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.logo {
    width: 170px;
    top: 0;
    position: relative;
}


.logo-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.nav-bar {
    margin-top: -2rem;
    font-size: 1.8rem;
    text-align: center;
    list-style: none;
    font-weight: 700;
}

.nav-bar li {
    margin: 1.2rem 0;
    padding: 0.2rem 0;
}


li .nav-link {
    color: var(--primary-font-color-color);
    text-decoration: none;
    padding: 0.5rem;
}

.header-content {
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
}

.title-subtext {
    order: 2;
    text-align: center;
    color: bisque;
    width: 80%;
}

.main-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    
}

.main-description {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.main-photo {
    width: 450px;
    max-width: 80%;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.signup {
    background-color: var(--tertiary-color);
    width: 120px;
    height: 35px;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 2rem;
}